/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 9, 2019, 5:01:22 PM
    Author     : User™
*/
.company-slogan{
    margin: 40px 0px;
}
.arrow-design{
    width: 75px !important;
    margin: 30px 0px 0px -30px;
}
.driver-section{
    margin-top: 30px;
}
.blue-container{
    background: #3c73c6;
    padding: 15px; 
    color: #fff;
}